<header>
  <h3>Comments</h3>
</header>
<%= simple_form_for [ticket, comment] do |f| %>
  <%= f.input :text %>
  <% if policy(ticket).change_state? %>
    <%= f.association :state %>
  <% end %>
  <% if policy(ticket).tag? %>
    <%= render "tag/form", f: f %>
  <% end %>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
